@import '../abstracts/vars';
@import '../abstracts/mixins';

.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 18px;
        padding-bottom: 18px; 
        background-color: $dark-shade;
    }   

    &__socials {
        display: flex;
        gap: 30px;
        height: 24px; 
    }

    &__socials-link {
        position: relative;
        display: flex;
        outline: none;
        fill: $grey;
        @include transition-fill;

        &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            border: 1px solid $green-focus;
            opacity: 0;
            transition: opacity $small-duration ease;
        }

        &:focus-visible::before {
            opacity: 1;
        }

        @include active-fill;
    }

    &__socials-image {
        width: 24px;
        height: 24px;
    }

    &__copyright {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        color: $grey;
    }
}