@import '../abstracts/vars';
@import '../abstracts/mixins';

.help {
    padding-top: 60px;
    padding-bottom: 59px;
    background-image: $image-gradient, url(../img/help-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__title {
        margin-bottom: 16px;
        @include section-title;
    }

    &__descr {
        max-width: 825px;
        margin-bottom: 24px;
    }

    h3 {
        @include visually-hidden;
    }

    &__feedback {
        max-width: 350px;
    }
}