@import '../abstracts/vars';
@import '../abstracts/mixins';

.new-artifacts {
    padding-top: 27px;
    padding-bottom: 55px;

    &__title {
        margin-bottom: 30px;
        @include section-title;
    }

    &__content {
        display: flex;
        gap: 30px;
    }

    &__content-left {
        background-color: $dark-shade;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__hint {
        position: absolute;
        display: none;
        bottom: 16px;
        left: 15px;
        color: $grey;
    }

    &__hint-image {
        margin-left: 6px;
        width: 80px;
        height: 8px;
    }

    &__content-right {
        display: flex;
        flex-direction: column;
        padding: 16px;
        padding-top: 24px;
        padding-bottom: 28px;
        max-width: 255px;
        background-color: $primary-green;
    }

    &__content-title {
        margin-bottom: 16px;
        font-family: $font-heading;
        font-size: 24px;
        font-weight: $bold;
        color: $dark;
    }

    &__content-text { 
        margin-bottom: 25px;
        color: $green-text;
    }

    &__content-descr:not(:last-child) {
        margin-bottom: 25px;
    }

    &__content-link {
        position: relative;
        margin-top: auto;
        width: max-content;
        outline: none;
        color: $dark-shade;
        font-weight: $bold;
        fill: $dark-shade;
        @include transition-color-and-fill;

        svg {
            @include svg-arrow;
            transition-property: transform, transform-origin;
            transition-duration: $small-duration;
            transition-timing-function: ease;
        }

        &::before {
            content: "";
            position: absolute;
            top: -4px;
            left: -4px;
            right: -4px;
            bottom: -4px;
            border: 1px solid $green-focus;
            opacity: 0;
            transition: opacity $small-duration ease;
        }
   
        &:focus-visible::before {
            opacity: 1;
        }

        &:active {
            color: $dark-shade;
            fill: $dark-shade;
        }

        &:active svg {
            transform: scaleX(1);
            transform-origin: left;
        }

        @include disabled-arrow;
    }
}

@media (max-width: 1362px) {
    .new-artifacts__content {
        flex-direction: column;
    }

    .new-artifacts__content-right {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .new-artifacts__image {
        padding: 16px;
    }
}

@media (max-width: 576px) {
    .new-artifacts {
        padding-bottom: 32px;

        &__content-left picture {
            position: relative;
            display: block;
            height: 493px;
            overflow-x: scroll;
            scrollbar-width: none;
        }

        &__image {
            min-width: 800px;
            display: block;
            padding: 0;
        }

        &__hint {
            display: block;
        } 

        &__content-right {
            min-height: 493px;
            padding-bottom: 22px;
        }
    }
}

@media (min-width: 1024px) {
    .new-artifacts {
        &__content-link {
            &:hover {
                color: $green-active;
                fill: $green-active;
            }

            &:hover svg {
                transform: scaleX(1.2);
                transform-origin: left;
            }
        }
    }
}