@import '../abstracts/vars';
@import '../abstracts/mixins';

.feedback {
    &__form-top {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }

    &__input-box {
        span {
            @include visually-hidden;
        }
    }

    &__input {
        padding: 14.5px 16px;
        width: 350px;
        outline: none;
        @include transition-bakg-color;

        &::placeholder {
            color: $grey;
            @include transition-color;
        }

        &:active {
            color: $dark-shade;
            background-color: $grey;
        }
        
    }

    &__form-bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__button {
        position: relative;
        padding: 10.5px 26px;
        font-weight: $bold;
        line-height: 22px;
        outline: none;
        background-color: $primary-green;
        color: $dark-shade;
        @include transition-bakg-color;

        &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: -3px;
            right: -3px;
            bottom: -3px;
            border: 1px solid $green-focus;
            opacity: 0;
            transition: opacity $small-duration ease;
        }

        &:focus-visible::before {
            opacity: 1;
        }

        @include active-button;

        &:disabled {
            color: $disabled-gradient;
            background-color: $grey;
            pointer-events: none;
        }
    }
}

