$font-main: 'Open Sans', sans-serif;
$font-heading: 'Cormorant', serif;
$bold: 700;

$disabled-gradient: rgba(29, 47, 48, 0.5);
$image-gradient: linear-gradient(rgba(29, 47, 48, 0.7), rgba(29, 47, 48, 0.7));
$white: #FFFFFF;
$grey: #899D9D;
$green-text: #506829;
$dark: #1D2F30;
$dark-shade: #0B1919;
$primary-green: #BAE249;
$green-hover: #91AC46;
$green-active: #688B05;
$green-focus: #83A440;
$red: #E24949;

$small-duration: .3s;

$container-max-width: 1440px;
$container-padding-left: 165px;
$container-padding-right: 165px;